
.content-section {
    padding: 2rem;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.content-section h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.card {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}


.custom-form {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.custom-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.custom-form input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  transition: border 0.3s;
}

.custom-form input[type="date"]:focus {
  border-color: #4A90E2;
  outline: none;
}

.custom-form button {
  width: 100%;
  padding: 12px;
  background: #4A90E2;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

.custom-form button:hover {
  background: #357ABD;
}